.navbar-logo{
    margin-left: 50px;
    float: left;
}
.searchForm{
    float: left;
    padding-left: 10px;
    padding-top: 10px;  
}
#bell{   
position: absolute;
    color: coral;
    right: 196px;
    top: 20px;
}
#be{
    margin-left: 20px;
    position: absolute;
}

.main1{
    margin-top: 60px;
    width: 100%;
    height: 1850px;
}
.main2{
    margin-top: 60px;
    width: 100%;
    height: 1100px;
    
}
.right{
    height: 160px;
    width: 400px;
    position: absolute;
    left: 880px;
    top: 130px;
}
#post{
    float: left;
    margin-left: 20px;
width: 98px;
height: 135px;
background: white;
border: 1px solid rgba(125, 125, 141, 0.16);
border-radius: 12px;
}
#att2{
    position: absolute;
    right: 80px;
}
#att1{
    position: absolute;
    right: 195px;
}
#post img{
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
}
#post i{
    position: absolute;
    margin-left: 42px;
    color: #FF5917;
    margin-top: 32px;
}
#post h5{
    position: absolute;
    margin-left: 43px;
    margin-top: 70px;
    font-family: Inter;
font-weight: 600;
font-size: 16px;
color: #040405;
}
#att
{
    position: absolute;
    right: 60px; 
    font-family: Inter;
font-size: 11px;
color: #7D7D8D;
}

#post p{
    position: absolute;
    margin-left: 37px;
    margin-top: 95px; 
    font-family: Inter;
font-size: 11px;
color: #7D7D8D;
}
#post1 img{
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
}
#post1 i{
    position: absolute;
    margin-left: 42px;
    color: #FF5917;
    margin-top: 32px;
}
#post1 p{
    position: absolute;
    margin-left: 35px;
    margin-top: 95px; 
    font-family: Inter;
font-size: 11px;
color: white;
}
#post1 h5{
    position: absolute;
    margin-left: 35px;
    margin-top: 70px;
    font-family: Inter;
font-weight: 600;
font-size: 16px;
color: white;
}
#post1{
    float: left;
    margin-left: 20px;
width: 98px;
height: 135px;
background: #FF5917;
border: 1px solid rgba(125, 125, 141, 0.16);
border-radius: 12px;
}
.lft{
    float: left; 
    height: 1800px;
    width: 511px;
    position: absolute;
    left: 100px;

}
.left1{
    float: left; 
    height: 1400px;
    width: 511px;
    position: absolute;
    left: 100px;

}
.left1 p{
    font-family: Inter;font-size: 13px;
color: #7D7D8D;
}
.left1 img{
    margin-right: 10px;
    float: left;
}
.left1 h5{
font-family: Inter;
font-style: normal;
font-size: 20px;
}
#at{
    position: absolute;
    left: 63px;
}
.lft h6{
    font-family: Inter;
    font-style: normal;
    font-size: 13px;  
    color: #040405;
}
.left1 h6{
    font-family: Inter;
    font-style: normal;
    font-size: 13px;  
    color: #040405;
}
.lft p{
    font-family: Inter;font-size: 13px;
color: #7D7D8D;
}
.lft img{
    margin-right: 10px;
    float: left;
}
.lft h5{
font-family: Inter;
font-style: normal;
font-size: 20px;
}

.fp{
    width: 500px;
    height: 66px;
    margin-top: 100px;
    border: 1px solid white;
    border-radius: 12px;
}

.fpr{
    width: 500px;
    margin-top: 10px;
    height: 66px;
    background: rgba(125, 125, 141, 0.08);
    border-radius: 12px;
    }
    .fpr h4{
        margin-left: 18px;
        font-family: Inter;
        color: #040405;
        float: left;     
    }
    .fpr h6{
    padding-top: 20px;
    position: absolute;
    right: 390px;
    font-family: Inter;
    font-size: 11px;
    color: #7D7D8D;
    }
#jj
{
    float: left;
margin-left: 20px;
padding-top: 17px;
width: 32px;
height: 32px;  
}    
#srch{
border: 1px solid rgba(125, 125, 141, 0.16);
width: 511px;
height: 30px;
background: #F5F5F6;
border-radius: 8px;
}
.FOL{
align-items: center;
width: 76px;
height: 32px;
border: 1px solid #E2E2F0;
background: white;
border-radius: 7px;
margin-left: 220px;
margin-top: 20px;
color: #FFFFFF;
font-family: Inter;
color: #040405;
}
.FOLI{
    align-items: center;
width: 94px;
height: 32px;
margin-left: 200px;
margin-top: 17px;
background: #FF5917;
border: 1px solid #E2E2F0;
border-radius: 7px;
}
#ac{
    width: 160px;
height: 30px;
background: #35353A;
border-radius: 8px;
margin-left: 5px;
}
#filter{
    background: #F5F5F6;
border-radius: 8px;
}
.browse{
    padding-top: 10px;
    padding-left: 190px;
    text-decoration: none;
    font-family: sans-serif;
font-weight:bolder;
font-size: 13px;
line-height: 20px;
color: #040405;
float: left;
}
.lp{
   padding-top: 10px;
    padding-left: 50px;
    text-decoration: none;
    font-family: Inter;
font-weight:bolder;
font-size: 13px;
line-height: 20px;
color: #040405;
float: left; 
}
.btn{
    padding-left: 50px;
}

.bt{
    height: 40px;
    margin-left: 5px;
    color: #FFFFFF;
    width: 104px;
    text-align: center;
    background: #FF5917;
border-radius: 8px;
border: 1px solid rgba(125, 125, 141, 0.16);
}
.ae{
    height: 40px;
    margin-left: 50px;
    color: #FFFFFF;
    width: 104px;
    text-align: center;
    background: #FF5917;
border-radius: 8px;
border: 1px solid rgba(125, 125, 141, 0.16);
}
.ae:hover{
    background: lightsalmon;
}
.mail{
    margin-top: 40px;
}
.su{
    margin-top: 35px;
    height: 40px;
    margin-left: 5px;
    color: #FFFFFF;
    width: 104px;
    text-align: center;
    background: #FF5917;
border-radius: 8px;
border: 1px solid rgba(125, 125, 141, 0.16);
}
.su:hover{
    background: lightsalmon;
}
.ep{
    width: 120px;
height: 40px;
margin-top: 20px;
margin-left: 20px;
font-family: Inter;
background: #FFFFFF;
border: 1px solid #E2E2F0;
box-sizing: border-box;
border-radius: 8px;
}
.box{
    height: 320px;
    width: 820px;
    margin-left: 3%;
    float: left;
}
.h
{
    font-family: Inter;  
}
.mu{
    float: left;
    height: 60px;
    width: 100px;
    margin-left: 500px;
}
.me{
    height: 60px;
    width: 300px;
    margin-left: 70px;
    
}
.me p{
    font-family: Inter;
font-size: 13px;
line-height: 21px;
color: #7D7D8D;
}

input{
float: left;
width: 250px;
height: 25px;
background-color: #35353A;
border-radius: 8px;
border: 1px solid rgba(125, 125, 141, 0.16);
}
.sr{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
.le p{
    font-size: 13px;
    font-family: Inter;
color: #7D7D8D;
}
#mm{
    font-size: 13px;
    font-family: Inter;
color: #7D7D8D;
text-decoration: none;
}
.le{
    float: left;
    height: 60px;
    width: 150px;
    margin-left: 25px;
    
}
.pg h3{
    color: #FF5917;
    font-family: Inter;
}
.mu h3{
    color: #FF5917;
    font-family: Inter;
}
.le h3{
    color: #FF5917;
    font-family: Inter;
}
.bo{
    float: left;
}

/*FOOTER*/

.pg{
    float: left;
    height: 60px;
    width: 100px;   
}
.le{
    float: left;
    height: 60px;
    width: 150px;
    margin-left: 25px;
    
}
.me{
    height: 60px;
    width: 300px;
    margin-left: 70px;
    
}
.me p{
    font-family: Inter;
font-size: 13px;
line-height: 21px;
color: #7D7D8D;
}
.mu{
    float: left;
    height: 60px;
    width: 100px;
    margin-left: 500px;
}
#icon{
    margin-top: 200px;
    margin-left: 1000px;
}
#icon i{
    margin-left: 10px;
    color: white;
}
.lme{
    margin-left: 35%;
    margin-top: 1%;
    background: #FF5917;
border-radius: 8px;
width: 151px;
height: 40px;
color: #FFFFFF;
border: 1px solid rgba(125, 125, 141, 0.16);
}
.footer{
    width: 100%;
    height: 400px;
    background: #1E1E22;   
}
.s{
    margin-left: 70px; 
    padding-top: 50px;
    width: 617px;
    height: 28px;
    font-family: Inter;
    color: white;
    font-size: 25px;
    font-weight: 10px;
    float: left;
    }
    .mail{
        margin-top: 40px;
    }
    .su{
        margin-top: 35px;
        height: 40px;
        margin-left: 5px;
        color: #FFFFFF;
        width: 104px;
        text-align: center;
        background: #FF5917;
    border-radius: 8px;
    border: 1px solid rgba(125, 125, 141, 0.16);
    }
    .list{
        position: absolute;
    width: 685px;
    height: 906px;
    left:25% ;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(125, 125, 141, 0.16);
    border-radius: 12px;
    }
    #ej{
        position: absolute;
        left: 30px;
        top: 20px;
    }
    .list h5{
        position: absolute;
    left: 72px;
    font-family: Inter;
    font-size: 13px;
    color: #040405;
    }
    #lp{
        position: absolute;
    left: 72px;
    top: 30px;
    font-family: Inter;
    font-size: 11px;
    color: #7D7D8D;
    }
    #images{
        width: 690px;
    height: 435px;
    position: absolute;
    top: 70px;
    
    }
    #img{
        float: left;
    }
    #images h3{
        position: absolute;
        left: 565px;
        top: 295px;
        font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    }
    #dis{
        position: absolute;
    width: 64px;
    height: 24px;
    background: white;
    left: 600px;
    top: 25px;
    border-radius: 24px;
    float: left;
    }
    #dis i{
        position: absolute;
        color:  #FF5917;
        left: 5px;
        top: 5px;
        font-size: 15px;
    }
    #dis h6{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
       width: 35px;
    height: 12px;
    }
    #comt{
        position: absolute;
        top: 510px;
        height: 80px;
        width: 690px;
        float: left;
    }
    #comt img{
       position: absolute;
       left: 30px;
       top: 20px;  
    }
    #comt h4{
        position: absolute;
        left: 80px;
    font-family: Inter;
    font-size: 16px;
    color: #040405;   
    }
    #comt p{
        position: absolute;
        left: 80px;
        top: 32px;
    font-family: Inter;
    color: #7D7D8D;
    }
    #di{
        position: absolute;
    width: 640px;
    height: 0px;
    left: 24px;
    top: 80px;
    border: 1px solid rgba(125, 125, 141, 0.16);
    }
    #com{
        height: 100px;
        width: 90px;
        float: left;
    }
    #com i{
        color:  #FF5917;
        margin-left: 20px;
    }
    #com p{
       float: left;
        position: absolute;
        font-family: Inter;
    font-size: 13px;
    left: 38px;
    bottom: 275px;
    color: #040405;
    }
    
    #main{
        height: 600px;
        width: 690px;
    }
    
    #co{
        height: 30px;
        width: 140px;
        float: left;
        align-items: center;
    } 

    #co p{
        position: absolute;
        left: 115px;
        bottom: 277px;
        font-family: Inter;
    font-size: 13px;
    }
    #view{
        float: left;
    }
    #view p{
        position: absolute;
       left: 248px;
       bottom: 275px;
       font-family: Inter;
    font-size: 13px;
    }
    #share{
        height: 50px;
        width: 100px;
        position: absolute;
        right: 10px; 
    }
    #share i{
        position: absolute;
    }
    #share p{
        position: absolute;
        left: 25px;
        bottom: 6px;
        font-family: Inter;
        font-size: 14px;
    }
    .i1 h4{
        font-family: Inter;
        margin-left: 10px;
    }
    #ellipse{
        position: absolute;
        left: 200px;
        color: #040405;
    }
    .rht{
        display: inline-block;
    }
    .dot{
        background-color: white;
        border: white;
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
    .dropdown{
        position: absolute;
        right: 20px;
        top: 20px;
        display: none;
        min-width: 80px;
        z-index: 1;
    }
    .dropdown a{
        text-decoration: none;
        background-color: #FF5917;
        color: white;
        display: block;
        padding: 5px 4px;
    }
    .dropdown a:hover{
      background-color:white ;
      color: #FF5917;
    }
    .rht:hover .dropdown{
        display: block;
    }
    #sr{
        width: 500px;
        height: 200px;
        position: absolute;
        top: 650px;
    }
    #sr img {
        position: absolute;
        left: 20px;
    }
    #sr p{
        position: absolute;
        left: 45px;
        bottom: 165px;
        font-family: Inter;
        font-weight: 600;
        font-size: 13px;
        color: #040405;
    }
    #sr h6{
        font-family: Inter;
        font-weight: 600;
        font-size: 13px;
        position: absolute;
        left: 45px;
    }
    #sr button{
        position: absolute;
        left: 45px;
        top: 53px;
        font-weight: bolder;
        font-size: 15px;
        color: #FF5917;
        font-family: Inter;
        background-color: white;
        border: white;
    }
    #sr h5{
        position: absolute;
        font-family: Inter;
        font-weight: 600;
        font-size: 13px;
        left: 60px;
        top: 60px;
    }
    
    #as{
        width: 500px;
        height: 200px;
        position: absolute;
        top: 750px;
    }
    #as img {
        position: absolute;
        left: 20px;
    }
    #as p{
        position: absolute;
        left: 45px;
        bottom: 165px;
        font-family: Inter;
        font-weight: 600;
        font-size: 13px;
        color: #040405;
    }
    #as h6{
        font-family: Inter;
        font-weight: 600;
        font-size: 13px;
        position: absolute;
        left: 45px;
    }
    #as button{
        position: absolute;
        left: 45px;
        top: 53px;
        font-weight: bolder;
        font-size: 15px;
        color: #FF5917;
        font-family: Inter;
        background-color: white;
        border: white;
    }
    #as h5{
        position: absolute;
        font-family: Inter;
        font-weight: 600;
        font-size: 13px;
        left: 60px;
        top: 60px;
    }
    #comment{
        height: 100px;
        width: 750px;
        position: absolute;
        bottom: 7px;
    }
    #comment img{
        border-radius: 12px;
        position: absolute;
        top: 30px;
        left: 10px;
    }
    #add{
        position: absolute;
    width: 599px;
    height: 30px;
    left: 55px;
    top: 28px;
    border: white;
    background: #F5F5F6;
    border-radius: 8px;
    font-family: Inter;
    font-size: 13px;
    }
    #send{
        position: absolute;
        left: 570px;
        top: 30px;
        background: #FFFFFF;
        border: white;
        width: 75px;
    height: 28px;
    text-align: center;
    font-family: Inter;
    color: #040405;
    }
    #send i{
        color: #FF5917;
    }


    .searchForm i{
        position: absolute;
        left: 430px;
        top: 23px;
        color: #7D7D8D;
    }
    .tbl th{
        font-family: Inter;
        margin-left: 3px;
    }
    .tbl td{
    font-family: Inter;
    font-size: 10px;
    color: #7D7D8D;
    margin-top: 5px;
    }
    .tbl{
        margin-top: 20px;
    }
    .main{
        width: 97%;
        margin-left: 20px;
        height: 100px;
        margin-top: 300px;
    }
    .main h4{
      float: left;
      font-family: Inter;
    font-size: 16px;
    margin-right: 25px;
    color: #040405;
    }
    .tbl {
        padding-left: 50px;
     }
    #el{
        align-items: center;
        margin-left: 25px;
        margin-top: 10px;
    width: 248px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E2E2F0;
    border-radius: 8px;
    }
    
    #el1{
        align-items: center;
        margin-left: 25px;
        margin-top: 10px;
    width: 248px;
    height: 40px;
    background: #FF5917;
    border: 1px solid #E2E2F0;
    border-radius: 8px;
    }
    #sh{
        float: left;
        height: 260px;
        width: 45%;
        margin-left: 12px;
        margin-top: 20px;
    }
    #sh1{
        float: left;
        height: 260px;
        width: 25%;
        font-family: Inter;
        margin-left: 12px;
        margin-top: 20px; 
    }
    #sh2{
        float: left;
        height: 258px;
        width: 25%;
        margin-left: 12px;
        margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(125, 125, 141, 0.16);
    border-radius: 12px;
    }
    #line{
        width: 312px;
    border: 1px solid #E2E2F0;
    }
    #loc{
        float: left;
        margin-right: 8px;
        
    }
    #sc{
        position: absolute;
        width: 15px;
    height: 15px;
    border-radius: 8px;
    background: #FF5917;
    left: 89px;
    top: 478px;
    
    }
    #loc1{
        float: left;
        margin-right: 8px;
        margin-top: 10px;
    }
    #sh1 p{
    font-family: Inter;
    font-weight: 550;
    font-size: 13px;
    color: #040405;
    }
    
    #ema{
    font-family: Inter;
    font-weight: 550;
    font-size: 13px;
    color: #0181C9;
    margin-top: 5px;
    }
    #le{
        border-radius: 12px;
        height: 300px;
        width: 98%;
        margin-top: 20px;
        margin-left: 12px;
    }
    #l{
        height: 600px;
        width: 100%;
        margin-top: 20px;
    }
    #be{
        margin-left: 10px;
        position: absolute;
    }
    .ep{
        width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Inter;
    background: #FFFFFF;
    border: 1px solid #E2E2F0;
    box-sizing: border-box;
    border-radius: 8px;
    }
    .i1{
        float: left;
        position: relative;  
        width: 310px;
    height: 390px;
    margin-left: 1%; 
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(125, 125, 141, 0.16);
    box-sizing: border-box;
    border-radius: 12px;
    }
    
    .footer1{
        margin-top: 70%;
        width: 100%;
        height: 400px;
        background: #1E1E22;   
    }
    #comm{
        height: 35px;
       width: 200px;
        margin-top: 28px;
       float: left;    
    }
    #comm i{
        float: left;
        margin-left: 10px;
        margin-right: 6px;
        margin-top: 9px;
    }
    #mark{   
        position: absolute;  
        height: 22px;
        width: 61px;
        background: #FFFFFF;
    border-radius: 24px;
    top: 20px;
    left: 230px;
    }
    #mark i{
        position: absolute;
         color: #FF5917;
         float: left; 
         left: 5px;  
         top: 3px;
         font-size: 14px; 
    }
    #km{
        position: absolute;
        left: 20px;
        bottom: 0px;
    font-family: Inter;
    font-weight: 600;
    font-size: 9px;
    color: #040405;
    }
    #comm p{
        float: left; 
      font-family: Inter;
    font-size: 11px;
    color: #040405; 
    }
    .i{
        border-radius: 10px;
        position: relative;
        width: 310px;
    }
    #p{
        position: absolute;
        top: 303px;
        left: 38px;
    }
    #p1{
        position: absolute;
        top: 303px;
        left: 23px;
    }
    #p2{
        position: absolute;
        top: 303px;
        left: 8px;
    }
    #rate{
        position: absolute;
        left: 155px;
        top: 285px;
        font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    color: #040405;
    }
    #rat{
        font-size: 13px;
        color: #FF5917;
        margin-left: 3px;
    }
    #rat1{
        font-size: 13px;
        color:  #E2E2F0;
        margin-left: 3px;
    }
    #share{
        height: 35px;
        width: 25px;  
        float: left;    
        margin-right: 50px;
        margin-top: 5px;
    }
    #pa{
        font-family: Inter;
        margin-left: 25px;
        margin-top: 12px;
        font-size: 10px;
        color: #7D7D8D;
    }
    #dp{
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 16px;
    }
    #sh h2{
        position: absolute;
    left: 130px;
    top: 410px;
    font-family: Inter;
    }
    #sh p{
        position: absolute;
    left: 130px;
    top: 442px;
    color: #7D7D8D;
    font-family: Inter;
    font-size: 14px;
    }
    #plus{
        position: absolute;
        top: 570px; 
        border: 1px solid #FF5917;
        border-radius: 64px;
    }
    #evnts
    {
        color: #FF5917;
    }
    #plus1{
        position: absolute;
        top: 597px;
        left: 45px;
        color: #FF5917;
    }
    #plus2{
        position: absolute;
        color: #F5F5F6;
        font-size: 11px;
        padding-left: 3px;
        padding-top: 1px;
    }
    #e{
        position: absolute;
        top: 570px;
        left: 95px;
        border: 1px solid #D3D3E2;
    border-radius: 64px;
    }
    #e1{
        position: absolute;
        top: 570px;
        left: 170px;
        border: 1px solid #D3D3E2;
    border-radius: 64px;
    }
    #e2{
        position: absolute;
        top: 570px;
        left: 245px;
        border: 1px solid #D3D3E2;
    border-radius: 64px;
    }
    #e3{
        position: absolute;
        top: 570px;
        left: 320px;
        border: 1px solid #D3D3E2;
    border-radius: 64px;
    }
    #tick{
        position: absolute;
        left: 322px;
        font-size: 13px;
        top: 440px;
        color: #17ACFF;
    }
    #sh h6{
        position: absolute;
    top: 480px;
    color: #040405;
    font-family: Inter;
    font-size: 12px;
    }
    #an{
        position: absolute;
    top: 630px;
    left: 25px;
    color: #FF5917;
    font-family: Inter;
    font-size: 12px;
    }
    #ch{
        position: absolute;
    top: 630px;
    left: 112px;
    font-family: Inter;
    font-size: 12px;
        color: black;
    }
    #ch1{
        position: absolute;
    top: 630px;
    left: 190px;
    font-family: Inter;
    font-size: 12px;
        color: black;
    }
    #ch2{
        position: absolute;
    top: 630px;
    left: 263px;
    font-family: Inter;
    font-size: 12px;
        color: black;
    }
    #ch3{
        position: absolute;
    top: 630px;
    left: 329px;
    font-family: Inter;
    font-size: 12px;
        color: black;
    }
    .sr{
        margin-top: 10px;
        margin-left: 5px;
        float: left;
    }
